@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    623 East 68th Street<br />
    Apartment 4A, New York, New York<br />
    <abbr title="Phone">P:</abbr>
    484.949.1631
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:DPetnick89@gmail.com">DPetnick89@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:DPetnick89@gmail.com">DPetnick89@gmail.com</a>
</address>